@page
@model Index

<h1 class="text-md font-bold text-center mb-3">تسجيل الدخول</h1>
<partial name="_ValidationSummary"/>

<form method="post">
	<input type="hidden" asp-for="Input.ReturnUrl"/>
	<div>
		<label asp-for="Input.Email" class="text-sm mr-0.5 w-full">البريد الإلكتروني</label>
		<input class="mt-1 block px-3 py-1.5 text-sm w-full rounded-lg border shadow-sm 
					focus:outline-none focus:ring-2 focus:ring-opacity-50 border-gray-200 
					focus:border-teal-400 focus:ring-teal-400 focus:ring-opacity-30" asp-for="Input.Email" autofocus>
		<span asp-validation-for="Input.Email" class="text-sm text-red-500"></span>
	</div>

	<div class="mt-3">
		<label asp-for="Input.Password" class="text-sm mr-0.5 w-full inline-flex justify-between items-end">
			كلمة المرور
			<a class="text-sm underline text-blue-500" asp-page="/Account/ForgotPassword/Index" asp-route-returnUrl="@Model.Input.ReturnUrl">نسيت كلمة المرور؟</a>
		</label>
		<input type="password" class="mt-1 block px-3 py-1.5 text-sm w-full rounded-lg border shadow-sm 
                  focus:outline-none focus:ring-2 focus:ring-opacity-50 border-gray-200 
                  focus:border-teal-400 focus:ring-teal-400 focus:ring-opacity-30" asp-for="Input.Password" autocomplete="off">
		<span asp-validation-for="Input.Password" class="text-sm text-red-500"></span>
	</div>

	<div class="mt-3 flex justify-between items-center">
		<button class="whitespace-nowrap cursor-pointer rounded-md active:shadow-inner border py-1.5 w-20 text-center text-sm text-white
					bg-teal-500 border-teal-500 hover:border-teal-600 hover:bg-teal-600 active:bg-teal-700">دخول</button>
		
		@if (Model.View.AllowRememberLogin)
		{
			<div class="inline-flex items-center">
				<input type="checkbox" id="RememberMe" asp-for="Input.RememberLogin"
				       class="form-checkbox w-5 h-5 rounded border shadow-sm focus:outline-none focus:ring focus:ring-opacity-50 text-teal-500 
						border-gray-200 focus:border-teal-500 focus:ring-teal-400"/>
				<label class="text-sm w-full mr-2">تذكرني</label>
			</div>
		}
	</div>
</form>