<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>مؤشر</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body class="font-cairo bg-gray-50">
<div class="relative flex min-h-screen flex-col justify-center">
	<div class="relative bg-white border border-gray-200 px-6 pt-4 pb-8 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
		<div class="flex flex-col">
			<img src="~/images/logos/vro.png" class="h-28 mb-3" alt="logo"/>
			@RenderBody()
		</div>
	</div>
</div>


<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>