@page
@model ForgotPasswordConfirmation

<h1 class="text-md font-bold text- text-center text-green-600 mb-3">تم إرسال رابط تعيين كلمة المرور</h1>
<p class="text-sm">الرجاء التحقق من البريد الإلكتروني لإعادة تعيين كلمة المرور</p>

