@page
@model Index

<h1 class="text-md font-bold text-center mb-3">تسجيل الخروج</h1>
<p class="text-sm">هل تريد الإستمرار في تسجيل الخروج؟</p>

<form method="post">
	<input type="hidden" asp-for="Input.LogoutId"/>
	<input type="hidden" asp-for="Input.Jti"/>
	<input type="hidden" asp-for="Input.Exp"/>
	<div class="mt-3">
		<button class="whitespace-nowrap cursor-pointer rounded-md active:shadow-inner border py-1.5 w-20 text-center text-sm text-white 
						bg-teal-500 border-teal-500 hover:border-teal-600 hover:bg-teal-600 active:bg-teal-700">استمرار</button>
    	</div>
</form>