@page
@model ResetPasswordConfirmation

<h1 class="text-md font-bold text- text-center text-green-600 mb-3">تم إعادة تعيين كلمة المرور بنجاح</h1>

@if (Model.View.RedirectUri != null)
{
	<div class="w-full flex justify-center">
		<a href="@Model.View.RedirectUri"
		   class="PostResetPasswordRedirectUri whitespace-nowrap cursor-pointer rounded-md active:shadow-inner border py-1.5 px-2 text-center text-sm text-white 
        		bg-teal-500 border-teal-500 hover:border-teal-600 hover:bg-teal-600 active:bg-teal-700">العودة الى نظام مؤشر</a>
	</div>
}

@section Scripts
{
	@if (Model.View.AutomaticRedirectAfterResetPassword)
	{
		<script src="~/js/resetpassword-redirect.js"></script>
	}
}
